/************************
relevant colors:
    white = #ffffff
    black = #000000
    satin sheen gold = #cba135
    dark grey = #4e4e4e
    medium grey= #777777

************************/

body {
  background-color: #000000; 
  color: #777777; /*this is the text color*/
  font-family: 'Beautifully Delicious Script', sanserif;
}

a {
  color: #cba135;
  text-decoration: none;
}

a:hover {
  color: #cba135;
}

header, footer {
  background-color: #000000;
  padding: 1rem;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

h1, h2, h3 {
  color: #777777;
  letter-spacing: 1px;
}
