body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Georgia', serif;
}

a {
  color: #cba135;
  text-decoration: none;
}

a:hover {
  color: #4e4e4e;
}

header, footer {
  background-color: #000000;
  padding: 1rem;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

h1, h2, h3 {
  color: #777777;
  letter-spacing: 1px;
}
